@charset "UTF-8";
@import "../fonts/Roboto.css";
body {
  font-family: "Roboto", sans-serif;
  margin-left: 16.67%;
  margin-right: 16.67%;
  padding-left: calc(16.67% / 3);
  padding-right: calc(16.67% / 3);
  padding-top: 40px;
  padding-bottom: 50px;
  min-height: 100vh;
  box-shadow: 0 0 5px gray;
}
body #fav {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 40px;
  font-family: serif;
  text-shadow: 1px 1px 2px black, -1px -1px 2px rgb(244, 100, 74);
  float: left;
}

.head {
  margin-top: 15px;
  margin-bottom: 35px;
}

.menu {
  margin-bottom: 20px;
}

.search {
  float: right;
  display: inline;
  vertical-align: middle;
}
.search input,
.search button {
  font-size: 14px;
  height: 40px;
}
.search input {
  width: 225px;
  overflow: visible;
  margin-right: 15px;
}

.add-teacher-btn {
  float: right;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
nav li a:hover {
  color: red;
}
nav button {
  float: right;
  font-size: 18px;
}

hr {
  width: 50%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
  color: orangered;
  background-color: white;
  border: 1px solid orangered;
  padding-left: 20px;
  padding-right: 20px;
}
button:hover {
  color: white;
  background-color: orangered;
}

h1 {
  text-align: center;
}

.filter-teachers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 25px;
  color: gray;
}
.filter-teachers ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.filter-teachers li {
  height: 100%;
  float: left;
  border-right: 2px dotted gray;
  padding-left: 14px;
  padding-right: 14px;
}
.filter-teachers li select {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  margin-left: 7px;
}
.filter-teachers #favorites {
  border-right: none;
}

h4 {
  font-size: large;
  margin-bottom: 5px;
}

h5 {
  color: gray;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}

h6 {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 7px;
  color: gray;
}

#fav h5 {
  display: none;
}

.teacher-list {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
}

#fav .teacher-list {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.teacher-icon {
  overflow: hidden;
  margin-left: 10px;
  border: 3.5px solid orange;
  border-radius: 100%;
  width: 9.5em;
  height: 9.5em;
}
.teacher-icon span {
  position: absolute;
  overflow: visible;
  margin-left: -25px;
  margin-top: -5px;
  font-size: 3em;
}
.teacher-icon img {
  width: 100%;
  transition: 0.2s all ease-in-out;
  color: orange;
  text-align: center;
  font-size: 30px;
}
.teacher-icon img::before {
  content: attr(alt);
  display: block;
  margin-bottom: 150px;
  margin-top: 40px;
  padding-top: 10px;
}
.teacher-icon img:hover::before {
  transform: none;
  padding-top: 35px;
  text-align: center;
  text-justify: auto;
}
.teacher-icon:hover {
  border: 3.5px solid red;
}
.teacher-icon:hover img {
  transform: scale(1.1);
  color: #996300;
}

.left-arrow,
.right-arrow {
  font-size: 48px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s;
}

.left-arrow:hover,
.right-arrow:hover {
  color: black;
}

.table-style, .teacher-table table, .teacher-table {
  width: 100%;
  border: none;
}
.table-style th, .teacher-table th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #b8b8b8;
  padding: 8px 12px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.table-style th .sort-indicator, .teacher-table th .sort-indicator {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}
.table-style th .sort-indicator:before, .teacher-table th .sort-indicator:before {
  /* Unicode down arrow (↓) */
  content: "↓";
  margin-left: 4px;
}
.table-style th:hover .sort-indicator, .teacher-table th:hover .sort-indicator {
  opacity: 1;
}
.table-style td, .teacher-table td {
  padding: 8px 12px;
  text-align: left;
}

.teacher-table {
  margin-top: 20px;
  border-collapse: collapse;
}

.teacher-table tbody tr:nth-child(odd) {
  background-color: white;
}

.teacher-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.page-selector {
  margin-top: 20px;
  text-align: left;
}
.page-selector .pagination-button {
  padding: 8px 8px;
  margin: 0 4px;
  background-color: white;
  color: blue;
  border: none;
  cursor: pointer;
}
.page-selector .pagination-button:hover {
  color: darkblue;
}

.teacher-info {
  margin-right: 35px;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */