@import "../fonts/Roboto.css";

$color_1: white;
$color_2: orange;
$color_3: red;
$color_4: orangered;
$color_5: gray;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: white;
$background-color_2: orangered;
$backgroundColor: #f2f2f2;
$borderColor: #b8b8b8;
$margin: 16.67%;

body {
	font-family: $font-family_1;
	margin-left: $margin;
	margin-right: $margin;
	padding-left: calc(#{$margin} / 3);
	padding-right: calc(#{$margin} / 3);
	padding-top: 40px;
	padding-bottom: 50px;

	#fav {
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}

	min-height: 100vh;
	box-shadow: 0 0 5px gray;
}

.logo {
	color: $color_1;
	font-weight: bold;
	font-size: 40px;
	font-family: serif;
	text-shadow:
		1px 1px 2px black,
		-1px -1px 2px rgb(244, 100, 74);
	float: left;
}

.head {
	margin-top: 15px;
	margin-bottom: 35px;
}

.menu {
	margin-bottom: 20px;
}

.search {
	float: right;
	display: inline;
	vertical-align: middle;

	input,
	button {
		font-size: 14px;
		height: 40px;
	}

	input {
		width: 225px;
		overflow: visible;
		margin-right: 15px;
	}
}

.add-teacher-btn {
	float: right;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	li {
		float: left;

		a {
			display: block;
			color: $color_2;
			text-align: center;
			padding: 16px;
			text-decoration: none;

			&:hover {
				color: $color_3;
			}
		}
	}

	button {
		float: right;
		font-size: 18px;
	}
}

hr {
	width: 50%;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

button {
	color: $color_4;
	background-color: $background-color_1;
	border: 1px solid orangered;
	padding-left: 20px;
	padding-right: 20px;

	&:hover {
		color: $color_1;
		background-color: $background-color_2;
	}
}

h1 {
	text-align: center;
}

.filter-teachers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	padding: 25px;
	color: $color_5;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	li {
		height: 100%;
		float: left;
		border-right: 2px dotted gray;
		padding-left: 14px;
		padding-right: 14px;

		select {
			padding-top: 7px;
			padding-bottom: 7px;
			padding-left: 7px;
			margin-left: 7px;
		}
	}

	#favorites {
		border-right: none;
	}
}

h4 {
	font-size: large;
	margin-bottom: 5px;
}

h5 {
	color: gray;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 10px;

}

h6 {
	font-size: 12px;
	font-weight: lighter;
	margin-top: 7px;
	color: $color_5;

}

#fav h5 {
	display: none;
}

.teacher-list {
	display: grid;
	margin-top: 50px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	text-align: center;
}

#fav .teacher-list {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.teacher-icon {
	overflow: hidden;
	margin-left:10px;
	border: 3.5px solid $color_2;
	border-radius: 100%;
	width: 9.5em;
	height: 9.5em;
	
	span {
		position: absolute;
		overflow: visible;
		margin-left: -25px;
		margin-top: -5px;
		font-size: 3em;
	}
	img {
		width: 100%;
		transition: 0.2s all ease-in-out;
		color: $color_2;
		text-align: center;
		font-size: 30px;
		&::before {
			content: attr(alt);
			display: block;
			margin-bottom: 150px;
			margin-top: 40px;
			padding-top: 10px;
		}
		&:hover {
			&::before {
				transform: none;
				padding-top: 35px;
				text-align: center;
				text-justify: auto;
			}
		}
	}
	&:hover {
		img {
			transform: scale(1.1);
			color:darken($color_2, 20%);
		}
		border: 3.5px solid $color_3;
	}
}

.left-arrow,
.right-arrow {
	font-size: 48px;
	color: gray;
	cursor: pointer;
	transition: color 0.3s;
}

.left-arrow:hover,
.right-arrow:hover {
	color: black;
}

.table-style {
	width: 100%;
	border: none;

	th {
		background-color: $backgroundColor;
		border-bottom: 1px solid $borderColor;
		padding: 8px 12px;
		text-align: center;
		position: relative;
		cursor: pointer;

		.sort-indicator {
			position: absolute;
			top: 50%;
			right: 5px;
			transform: translateY(-50%);
			font-weight: bold;
			opacity: 0;
			transition: opacity 0.3s;

			&:before {
				/* Unicode down arrow (↓) */
				content: "\2193";
				margin-left: 4px;
			}
		}

		&:hover {
			.sort-indicator {
				opacity: 1;
			}
		}
	}

	td {
		padding: 8px 12px;
		text-align: left;
	}
}

.teacher-table {
	margin-top: 20px;
	border-collapse: collapse;
	@extend .table-style;
}

.teacher-table table {
	@extend .table-style;
}

.teacher-table tbody tr:nth-child(odd) {
	background-color: white;
}

.teacher-table tbody tr:nth-child(even) {
	background-color: $backgroundColor;
}

.page-selector {
	margin-top: 20px;
	text-align: left;

	.pagination-button {
		padding: 8px 8px;
		margin: 0 4px;
		background-color: white;
		color: blue;
		border: none;
		cursor: pointer;

		&:hover {
			color: darkblue;
		}
	}
}

.teacher-info {
	margin-right: 35px;
	margin-top: 10px;
}

// ----------------- INFO POP-UP -------------------

